body {
  background-color: #003049;
  background-image: url('./purple-pink-phone.jpg');
  color: #fafafa;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  font-family: 'Lato', 'Arial', 'sans-serif';
  flex-direction: column;
  background-position: top right;
}

.header h1 {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  height: 10vh;
  line-height: 10vh;
  box-sizing: border-box;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('./yellow-orange.jpg');
  background-size: cover;
  background-position: top right;
}

section {
  flex: 1;
  box-sizing: border-box;
}

.footer {
  height: 25vh;
  text-align: center;
  font-size: 0.75em;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 12px;
  width: 1oovw;
  justify-content: center;
  box-sizing: border-box;
}

.contentContainer {
  border: 2px solid #fafafa;
  position: relative;
  margin: 2em;
}

.contentContainer .label {
  position: absolute;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #fafafa;
  background-color: #003049;
  background-image: url('./purple-pink-phone.jpg');
  background-position: top right;
  padding: 0 6px;
  top: -0.5em;
  margin-left: 12px;
  letter-spacing: 2px;
}

.contentContainer .content {
  font-size: 1.1em;
  padding: 1em 12px;
}

button {
  background: none;
  border: 2px solid #fafafa;
  padding: 6px 12px;
  outline: none;
  margin: 0 8px;
  color: #fafafa;
  text-transform: uppercase;
  font-size: 0.8em;
}

.activeFilter {
  background: #fafafa;
  color: #003049;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filterLabel {
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9em;
}